@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Special+Elite&display=swap");

.aboutBody {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 60%;
  margin: 50px auto;
  gap: 20px;

  /* border: 2px solid red; */
}
.aboutImg {
  width: 25vw;
  /* height: 80vh; */
  /* border: 1px dotted red; */
}
/* qui poi devo togliere */
.imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textWrap {
  width: 33vw;
  background-color: rgb(188, 188, 188);
  padding: 15px;
  /* border: 1px dashed red; */
}
.text {
  font-family: "Cutive Mono", monospace;
  font-weight: 600;
  font-style: normal;
  text-align: justify;
  line-height: 1.3em;
}
.text p span {
  font-size: 17px;
  text-decoration: solid underline 1px black;
}

.skills {
  margin: 50px 0;
}
